img{
	width: 200px;
	height: 300px;

}
.a1{
	float: left;
	width: 210px;
	height: 350px;
    text-align:center;
}
.a2{
	float: left;
	width: 210px;
	height: 350px;
    text-align:center;
}
.a3{
	float: left;
	width: 210px;
	height: 350px;
	text-align:center;
}
.a4{
	float: left;
	width: 210px;
	height: 350px;
	text-align:center;
}
div img:hover{
	border:3px;
	border-style: solid;
	border-color: gray;
}
